* {
    margin: 0;
    padding: 0;
}

html {
background-color: black
}

h1 {
    color: #ff0000ff;
    background-color: #000080ff;
    height: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

table {
    background-color: #0b92fbff;
    border: solid 1px black;
    width: 100%;
    height: 250px;
    border-collapse: collapse;
}



thead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tr {
    border: solid 1px black;
}


.vert {
    background-color: #217821ff;
}

.rouge{
    background-color: #800080ff;
}

.marron{
    background-color: #aa4400ff;
}

.rosepale   {
background-color: #c83737ff;
}

.   {

}

.{

}

. {

}

. {

}

td {
    border: solid 1px black;
    text-align: center;
    width: 5%;
    height: 5%;
    margin: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

option {
    margin: 20px;
    color: #0b92fbff;
}

.hidden {
overflow: hidden;
}

.visible{
    background-color: #064677ff;
}